<h1>Автор</h1>
<ul>
<table width=800 border=2>
<tr><th>Название</th><th>Автор</th><th>Издательство</th>
<th>Дата публикации</th><th>Веб-Сайт</th></tr>
{% for item in bookinf %}
<tr align=center>
   <td >{{  item.title }}</td>
   <td><a href={{ item.Author.get_absolute_url_auth}}>{{item.get_author}}</a>
   </td>
   <td>{{ item.publisher.title }} ( {{ item.publisher.city}},
       {{ item.publisher.country }} )</td>
   <td>{{ item.publication_date }} </td>
   <td><a href={{ item.publisher.website }}> {{item.publisher.website}}</a></td>

</tr>
{% endfor %}
</table>
</ul>
       
